SRV_PORT=3000
SRV_ENV=development
LOCAL_DATABASE=true
DATABASE_CREDS_USERNAME=justtaskit
DATABASE_CREDS_PASSWORD=Fbd9uaaHPojK
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=jti
DATABASE_MIGRATE=true
DATABASE_CONTAINER_NAME=jtidb
